.card {
  text-align: left;
  animation: fadeIn .5s forwards;
}

.desp {

  font-size: 1.17em;
  font-weight: bold;
}

.card a {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}

@keyframes fadeIn {
  0% {
    transform: translateY(30px);

  }

  100% {

    transform: translateY(0);

  }
}

@media (min-width:750px) {
  .card {
    width: 60%;

  }
}