.content {
  position: relative;
  height: 50px;
  overflow: hidden;
  width: 200px;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
  animation: animate .6s ease forwards;

}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}

.content__container:before {
  position: absolute;
  content: '[';
  left: 0;
}

.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}

.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #ed6663;
  font-size: 42px;
  line-height: 40px;
  animation-name: opacity;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  animation-name: change;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }





}


@keyframes animate {
  0% {
    opacity: .5;
    transform: translateY(30px);

  }

  100% {
    opacity: 1;

  }

}